@page
@model PerfilModel
@{
    ViewData["Title"] = "Perfil";
    int idUsuario = 3;
    var usuario = Model.usuarioLista?.FirstOrDefault(item => item.id_usuario == idUsuario);
    var rank = Model.usuarioRanking?.FirstOrDefault(temp => temp.id_usuario == idUsuario);
}
@* @Cuadro completo@ *@
<div class="center-div">
    <div class="container rounded-5 card bg-secondary bg-opacity-10 py-3"> 
        
    
        @* @Priemra hilera@ *@
        <div class="row justify-content-center">

            @* @Imagen@ *@
            <div class="col-sm-3">
                <div class="mx-2 rounded-5 p-4">
                    <div class="text-center p-1 justify-content-center">
                        <img src="@Url.Content(Model.camino)" alt="original" width="200px" height="160px" class="mb-3 rounded-3 shadow-sm border border-dark "/>
                    </div>
                        @* Se mandan los datos de la imagen deseada*@
                        <form method="post">
                            <div class="d-flex justify-content-center">
                                <select asp-for="fotoP" class="form-select form-select-sm w-auto rounded-3 shadow-sm mx-2 border border-dark">
                                     <option disabled>Elegir Perfil</option>
                                     <option value="MedallaOro.png">Medalla1</option>
                                     <option value="imgUsuario.jpg">Persona</option>
                                     <option value="MedallaPlata.png">Medalla1</option>
                                </select>
                                <button class="btn btn-light btn-sm w-auto rounded-3 shadow-sm mx-2 border border-dark" type="submit">Cambiar imagen</button>
                            </div>
                        </form>
                </div>
            </div>
            
            @* @Nombre@ *@
            <div class="col-sm-5 mt-4 pt-1 align-items-center">
                <div class="card bg-secondary bg-opacity-10 mx-2 rounded-4">
                    <div class="card-body">
                        <h1 class="card-title p-3"><b>Nombre:</b> @Html.DisplayFor(item => usuario.nombre) @Html.DisplayFor(item => usuario.apellido)<h1>
                            <h5 class="card-text mx-2 px-1 pb-3 text-muted">Último Juego: @Html.DisplayFor(temp => rank.fecha_puntaje)</h5>          
                    </div>
                </div>    
            </div>                 
        </div>

            @* @Segunda hilera@ *@
            <div class="row-sm-3 d-flex justify-content-center mb-3">
                @* @Experiencia@ *@
                <div class="col-sm-3">
                    <div class="card bg-secondary bg-opacity-10 m-3 rounded-4 p-3">
                        <div class="card-body"> 
                            <h2 class="text-title text-center fw-bold color-header">Experiencia</h2>
                            <h1 class="card-text text-center color-text fw-bold">@Html.DisplayFor(item => usuario.experiencia)</h1>
                        </div>
                    </div>
                </div>
               
                @* @Puntos@ *@
                <div class="col-sm-3">
                    <div class="card bg-secondary bg-opacity-10 m-3 rounded-4 p-3">
                        <div class="card-body">
                            <h2 class="card-title text-center fw-bold color-header">Puntos</h2>
                            <h1 class="card-text text-center color-text fw-bold5">@Html.DisplayFor(item => usuario.puntos)</h1>
                        </div>
                    </div>
                </div>            

                @* @Monedas@ *@
                <div class="col-sm-3">
                    <div class="card bg-secondary bg-opacity-10 m-3 rounded-4 p-3">
                        <div class="card-body">
                            <h2 class="card-title text-center fw-bold color-header">Monedas</h2>
                            <h1 class="card-text text-center color-text fw-bold">@Html.DisplayFor(item => usuario.monedas)</h1>
                        </div> 
                    </div>
                </div>  
        </div>
    </div>
</div>