@page
@model PerfilModel
@{
    ViewData["Title"] = "Home page";
    int idUsuario = 3;
    var usuario = Model.usuarioLista.FirstOrDefault(item => item.id_usuario == idUsuario);

}
@*Cuadro completo*@
<div class="center-div">
    <div class="rounded-5 card bg-secondary bg-opacity-10 py-3"> 

        @*Priemra hilera*@
        <div class="row justify-content-center">
            
            @*Imagen*@
            <div class="col-sm-3 align-items-stretch">
                <div class="card bg-secondary bg-opacity-10 mx-2 my-4 rounded-5 p-3">
                    <img src="~/imagen/.png" alt="">
                </div>
            </div>

            @*Nombre*@
            <div class="col-sm-8 align-items-stretch">
                <div class="card bg-secondary bg-opacity-10 my-4 mx-2 rounded-4" >
                    <div class="card-body">
                        <h1 class="card-title p-3"><b>Nombre:</b> @Html.DisplayFor(item => usuario.nombre) @Html.DisplayFor(item => usuario.apellido)<h1>
                            <h5 class="card-text mx-2 px-1 pb-3 text-muted">Último Juego: </h5          
                    </div>
                </div>    
            </div>                 
        </div>

            @*Segunda Hilera*@
            <div class="row d-flex justify-content-center">

                @*Experiencia*@
                <div class="col-sm-3">
                    <div class="card bg-secondary bg-opacity-10 m-3 rounded-4 p-3">
                        <div class="card-body"> 
                            <h2 class="text-title text-center fw-bold color-header">Experiencia</h2>
                            <h1 class="card-text text-center color-text fw-bold">@Html.DisplayFor(item => usuario.experiencia)</h1>
                        </div>
                    </div>
                </div>
               
                @*Puntos*@
                <div class="col-sm-3">
                    <div class="card bg-secondary bg-opacity-10 m-3 rounded-4 p-3">
                        <div class="card-body">
                            <h2 class="card-title text-center fw-bold color-header">Puntos</h2>
                            <h1 class="card-text text-center color-text fw-bold">@Html.DisplayFor(item => usuario.puntos)</h1>
                        </div>
                    </div>
                </div>            

                @*Monedas*@
                <div class="col-sm-3">
                    <div class="card bg-secondary bg-opacity-10 m-3 rounded-4 p-3">
                        <div class="card-body">
                            <h2 class="card-title text-center fw-bold color-header">Monedas</h2>
                            <h1 class="card-text text-center color-text fw-bold">@Html.DisplayFor(item => usuario.monedas)</h1>
                        </div> 
                    </div>
                </div>  
        </div>
    </div>
</div>





