@page
@model PodioModel
@{
    ViewData["Title"] = "Podio";
}



<div class="text-center">
    <h1 class="display-4 text-center">¡Felicidades!</h1>
</div>

 <div class="d-flex justify-content-between mt-4 ">

<div class="card" style="width: 18rem; text-align: center;">
  <img class="card-img-top rounded-circle" src="~/imagen/MedallaPlata.png" alt="Card image cap" 
  style="width: 150px; height: 150px; object-fit: cover; margin: 20px auto;"> 
  <div class="card-body">
    <h5 class="card-title">@Model.SegundoLugar?.nombre @Model.SegundoLugar?.apellido</h5>
    <p class="card-text">@Model.SegundoLugar?.puntaje puntos</p>
    
  </div>
  
</div>

<!--<div class="card " style="width: 22rem; text-align: center; "> -->

<div class="card text-white bg-dark mb-3" style="width: 24rem; text-align: center;">
  <img class="card-img-top rounded-circle" src="~/imagen/MedallaOro.png" alt="Card image cap" 
  style="width: 150px; height: 150px; object-fit: cover; margin: 20px auto;"> 
  <div class="card-body">
    <h5 class="card-title">@Model.PrimerLugar?.nombre @Model.PrimerLugar?.apellido</h5>
    <p class="card-text">@Model.PrimerLugar?.puntaje puntos</p>
    
  </div>
</div>

<div class="card" style="width: 18rem; text-align: center;">
  <img class="card-img-top rounded-circle" src="~/imagen/MedallaBronce.png" alt="Card image cap" 
  style="width: 150px; height: 150px; object-fit: cover; margin: 20px auto;"> 
  <div class="card-body">
    <h5 class="card-title">@Model.TercerLugar?.nombre @Model.TercerLugar?.apellido</h5>
    <p class="card-text">@Model.TercerLugar?.puntaje puntos</p>
    
  </div>
</div>

</div>



<div class="contenedor-magda">


<div class="container mt-5">
    <h1 class="text-dark text-center mb-4">Ranking</h1>

    <div class="card card-Magda p-4">
        <!--tabla de bootstrap-->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Lugar</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Puntaje</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int lugar = 4;
                }

                @foreach (var usuario in Model.ListaUsuarios)
                {
                    <tr>
                        <th scope="row">@lugar</th>
                        <td>@usuario.nombre</td>
                        <td>@usuario.apellido</td>
                        <td>@usuario.puntaje</td>
                    </tr>
                    lugar++;
                }
            </tbody>
        </table>
    </div>
</div>
        
    </div>