@page
@model testdbModel
@{
    ViewData["Title"] = "test";
}

<div class="text-center">
    <form method="post">
        <input type="submit" value="Mostrar usuarios">
    </form>
    
    <h1>Usuarios</h1>

    <table class="table">
        <thead>
            <tr>
            <th scope="col">ID Usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Correo</th>
            <th scope="col">Contrasena</th>
            <th scope="col">Monedas</th>
            <th scope="col">Experiencia</th>
            <th scope="col">Puntos</th>
            <th scope="col">ID Rol</th>
            <th scope="col">ID Tienda</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.ListaUsuarios)
        {
            <tr>
            <th scope="row">@Html.DisplayFor(modelItem => item.id_usuario)</th>
            <td>@Html.DisplayFor(modelItem => item.nombre)</td>
            <td>@Html.DisplayFor(modelItem => item.apellido)</td>                   
            <td>@Html.DisplayFor(modelItem => item.correo)</td>                  
            <td>@Html.DisplayFor(modelItem => item.contrasena)</td>                   
            <td>@Html.DisplayFor(modelItem => item.monedas)</td>                   
            <td>@Html.DisplayFor(modelItem => item.experiencia)</td>                   
            <td>@Html.DisplayFor(modelItem => item.puntos)</td>                   
            <td>@Html.DisplayFor(modelItem => item.id_rol)</td>                   
            <td>@Html.DisplayFor(modelItem => item.id_tienda)</td>                   
            </tr>
        }
        </tbody>
    </table>    
</div>
